body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: auto !important;

}

/* .toast-main {
    position: relative;
} */


.toast-border {
    border-left: 5px solid rgb(65, 124, 233);
    margin-left: auto !important;

    /* margin-right: -20px !important; */





}

.show {
    width: 230px !important;
}

.span {

    overflow: hidden;
    position: sticky !important;
    top: 500px;

}

.checktext span {
    font-size: 10px !important;
}

.checktext h3 {
    font-size: 20px !important;
}

.checktext p {
    font-size: 18px !important;
}

/* .toast-main span {
    position: absolute;
} */

.navbar-brand {
    color: rgba(62, 62, 62, 1) !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    font-size: 22px !important;
}

.nav-link {
    color: #3E3E3E !important;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
}



.carousel-item img {
    height: 600px !important;
    overflow: hidden;
}

.carousel-caption h1 {

    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;

}

.carousel-caption p {
    font-size: 16px !important;
    width: 456px !important;
    height: 48px !important;
    margin: auto;
    text-align: center !important;
    /* font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    font-weight: normal !important; */
}

.blue {
    border-radius: 20px !important;


}


.book {
    padding: 10px 40px !important;
}

@media (max-width:500px) {

    .carousel-item img {
        height: 586px !important;

        overflow: hidden;
    }

    .navbar-brand {
        font-size: 16px !important;

    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;

        margin: auto;
    }

    .carousel-caption p {
        font-size: 16px !important;
        width: auto !important;
        height: auto !important;
        margin: auto;
        text-align: center !important;
        /* font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important;
    font-weight: normal !important; */
    }




}

@media (max-width:767px) {

    /* .row-main {
        display: flex !important;
        flex-direction: column-reverse !important;
    } */
    .blue {
        width: 80% !important;
        margin-left: 3% !important;
        padding-bottom: 40px !important;

    }

    .blue a {
        font-size: 12px !important;
    }

    .explore {
        display: none;
    }

    /* .toast-border {
        border-left: 5px solid rgb(65, 124, 233);
        position: absolute;
        top: 35px;
        left: 30px;
        margin-right: -20px !important;


    } */
}